.headerBtn{
    background-color: #27024b;
    padding: 0 2%;
    width: max-content;
    height: 3rem;
    border: none;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.headerBtn:hover{
    transform: scale(1.1);
}

.headerBtnContent{
    color: #ffffff;
    margin: 2px auto;
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.headerBtnContent h3{
    width: 6rem;
    margin: 0.8rem 0.2rem;
}

.headerCartItems{
    background-color: #8a2be2;
    width: 30%;
    text-align: center;
    border-radius: 12px;
    height: 2rem;
    font-weight: bold;
    font-size: 18px;
    padding-top: 0.3rem;
    margin: 0.4rem 0.2rem; 
}

